# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtualenv
.venv/
venv/

# Environment
.env

# Editor
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
